:root {
    --spacing: 10px;
    --border-radius-large: 8px;
    --border-radius-small: 4px;
}

* {
    box-sizing: border-box;
}



.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.splash-screen img {
  max-width: 80%; /* Adjust the size of your logo */
  max-height: 80%; /* Adjust the size of your logo */
}


.zap{
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    background: transparent;

} 

.warn {
  position: absolute;
  background-size: cover;
  background-position: center;
  background: transparent;
  z-index: 1; /* Ensure the warn image is above the video */
}

body { /* wraps header and main */
    display: grid;
    grid-template-rows: 100% 1fr;
    grid-row-gap: var(--spacing);
    height: 100vh;
    padding: var(--spacing);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #000000;
    animation: fadeIn 1s ease;
    overflow: auto;
}


main { 
    display: grid;
    grid-template-columns: 3fr 7fr; 
    grid-column-gap: var(--spacing);
    overflow: hidden;
}

.video-panel {
    display: grid;
    grid-template-rows: 49% 49%;
    grid-row-gap: var(--spacing);
    overflow: auto;
    animation: slideInFromLeft 1s ease;

    & section {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(199, 197, 197);
        border-radius: var(--border-radius-large);
        

        & video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.local video {
            transform: scaleX(-1);
        }
    }
}

.chat-panel {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-row-gap: var(--spacing);
    padding: var(--spacing);
    background: #363636;
    border-radius: var(--border-radius-large);
    animation: slideInFromRight 1s ease;

    .chat-log {
        padding: var(--spacing);
        background: #fff;
        overflow-y: scroll;
        border-radius: var(--border-radius-small);
        line-height: 1.4;

        .message.local::before {
            font-weight: bold;
            color: rgb(62, 182, 15);
            content: "You: ";
        }

        .message.remote::before {
            font-weight: bold;
            color: rgb(255, 0, 64);
            content: "Stranger: ";
        }

        .message.server {
            color: #999;
            font-style: italic;
        }
    }

    .chat-controls {
        display: flex;

        .messaging {
            display: flex;
            flex-grow: 1;

            & input {
                margin: 0 16px;
                width: 100%;
                height: 40px;
                padding: 16px;
                border: 0;
                border-radius: var(--border-radius-small);
                font-size: 16px;

                &:focus {
                    outline: none;
                }
            }
        }

        .pairing button {
            width: 120px;
        }
    }
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    z-index: 1000; /* ensure modal is above other content */
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

button {
    background: #be2e2e;
    color: #fff;
    border: 0;
    border-radius: var(--border-radius-small);
    height: 40px;
    line-height: 1;
    padding: 0 16px;
    cursor: pointer;

    &:hover {
        background: #d21919;
    }
}

/* Conditional styles for buttons */
.chat-controls .pairing button {
    display: none;
}

[data-state=NOT_CONNECTED] button#startPairing,
[data-state=DISCONNECTED_LOCAL] button#startPairing,
[data-state=DISCONNECTED_REMOTE] button#startPairing,
[data-state=CONNECTING] button#abortPairing,
[data-state=CONNECTED] button#leavePairing {
    display: block;
}

/* Conditional styles for spinner */
.spinner {
    display: none;
}

[data-state=CONNECTING] .spinner {
    display: block;
}

[data-state=CONNECTING] .zap {
    display: none;
}

[data-state=CONNECTED] .zap {
    display: none;
}

/* Conditional styles for remote video */
body:not([data-state=CONNECTED]) .remote video {
    display: none;
}

/* Conditional styles for chat */
body:not([data-state=CONNECTED]) .chat-controls .messaging {
    filter: grayscale(1);
    opacity: 0.6;
    pointer-events: none;
}

/* Fullscreen mode */
body.fullscreen {
    height: 100vh;
    overflow: hidden;
}

body.fullscreen main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

body.fullscreen .video-panel {
    position: relative;
    
}

body.fullscreen .video-panel section.remote {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: slideInFromLeft 1s ease;
}

body.fullscreen .video-panel section.local {
    position: absolute;
    bottom: var(--spacing);
    left: var(--spacing);
    width: 200px;
    height: 150px;
    z-index: 2;
    animation: fadeIn 1s ease;
}

body.fullscreen .chat-panel {
    display: none;
}

#fullscreenButton{
    margin-right: 10px;
    height: 40px;
    width: 40px;
    align-self: center;
    cursor: pointer;
    padding: 1px;
}

#reportBtn{
    margin-right: 10px;
    height: 40px;
    width: 40px;
    align-self: center;
    cursor: pointer;
    padding: 1px;
}

.exit-fullscreen-btn {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 3;
    animation: slideInFromLeft 1s ease;
}

body.fullscreen .exit-fullscreen-btn {
    display: block;
}
.blurred {
    filter: blur(20px); /* Adjust the blur intensity as needed */
}


/* page */
#nextpage {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease;
    transition: transform 0.3s ease-in-out;

  }

  #nextpage img{
    width: 80px;
    height: 80px;
 
  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transform: translateY(-100%);
  }

  .show {
    transform: translateY(0);
  }

  
  .about-label
  {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ffed8b);
    -webkit-background-clip: text; /* Apply text as mask */
    -webkit-text-fill-color: transparent; /* Hide original text */
    background-clip: text;
    font-size: 48px; /* Adjust font size as needed */
    font-weight: bold;
    justify-content: start;
  }

  /* About Us Styles */
  #about-us {
    background-color: black;
    padding: 20px 70px 40px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #about-us p,li {
   font-size: 20px;
   text-align: start;
   line-height: 1.8;
  }

  .screenshots{
    display: flex;
    height: 550px;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    padding: 80px;
    overflow: hidden;
    transition: gap 0.3s ease;
  }

  .screenshots img:not(.middle) {
    transition: transform 0.3s ease;
  }
/* Animation for left images */
/* #ss1:hover,
#ss2:hover {
  animation: slideInFromLeft 1s ease ;
}

/* Animation for right images */
/* #ss4:hover,
#ss5:hover {
  animation: slideInFromRight 1s ease ;
  
} */ 
  .screenshots img{
    border-radius: 20px;
   
  }

  /* Footer Styles */
  .footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-left {
    text-align: left;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .user-actions button {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .user-actions  {
   display: flex;

  }

  .user-actions button:hover {
    background-color: #d21919;
  }



/* Mobile layout */
@media (max-width: 768px) {
    main { /* put video panel on top of chat panel */
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr;
        grid-row-gap: var(--spacing);
    }

    .video-panel { /* put video side by side */
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: var(--spacing);
    }

    .page{
        display: none;
    }
}

/* Add animations */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  